Import Python modules.

In [81]:
import json
import pandas as pd
import os

Load games JSON from a year into a pandas dataframe.

In [84]:
cfb_year = input('Input college football year?')

json_regular_season = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-basicGameStatsCFB-JSON-regular.json'

with open(json_regular_season) as fp:
    games = json.load(fp)

# DataFrame from dict of array-like or dicts
df = pd.DataFrame.from_dict(games)

# New DataFrame, but selecting 10 different columns, not 33 columns
df2 = pd.DataFrame(df, columns=['id', 'season', 'week', 'completed', 'home_team', 'home_division', 'home_points', 'away_team', 'away_division', 'away_points'])
df2

Input college football year? 2016

,id,season,week,completed,home_team,home_division,home_points,away_team,away_division,away_points
0,400869090,2016,1,True,California,fbs,51,Hawai'i,fbs,31
1,400869503,2016,1,True,Connecticut,fbs,24,Maine,fcs,21
2,400869341,2016,1,True,Louisville,fbs,70,Charlotte,fbs,14
3,400869421,2016,1,True,Wake Forest,fbs,7,Tulane,fbs,3
4,400869257,2016,1,True,Central Michigan,fbs,49,Presbyterian College,fcs,3
...,...,...,...,...,...,...,...,...,...,...
827,400869855,2016,14,True,Texas State,fbs,14,Arkansas State,fbs,36
828,400926949,2016,14,True,Wyoming,fbs,24,San Diego State,fbs,27
829,400926946,2016,14,True,Penn State,fbs,38,Wisconsin,fbs,31
830,400926944,2016,14,True,Virginia Tech,fbs,35,Clemson,fbs,42
831,400868921,2016,15,True,Army,fbs,21,Navy,fbs,17